In [3]:
import pandas
df = pandas.read_csv("EastWestAirlines.csv")
df.head()

,Balance,Bonus_miles,Flight_miles_12months,Flight_trans_12_months,Days_since_enroll
0,28143,174,0,0,7000
1,19244,215,0,0,6968
2,41354,4123,0,0,7034
3,14776,500,0,0,6952
4,97752,43300,2077,4,6935

In [7]:
df.dropna(inplace=True)
array = df.values
x = array[:, 2:6]
from sklearn.cluster import KMeans
model = KMeans(n_clusters=10,random_state=42)
model.fit(x)

c:\Users\user\Desktop\Data Science\DAY01\env\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=10, random_state=42)

In [8]:
means = model.cluster_centers_
clusters = pandas.DataFrame(means,columns=["Flight_miles","Flight_trans","Days_since_enroll"])
clusters

   Flight_miles  Flight_trans  Days_since_enroll
0    132.655431      0.494382        5850.896380
1    136.921087      0.520052        2724.667529
2    192.594655      0.710468        7471.616927
3   6282.900000     16.375000        6274.150000
4  26458.500000     49.000000        2602.000000
5   3345.176471      8.731092        2493.151261
6   2365.942308      7.615385        5963.846154
7    166.997735      0.613817        4255.390713
8  10834.681818     23.272727        3316.772727
9    111.370027      0.453581        1338.107427